/* colors */
$background-color: #FBFBFB;
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #ffb800;
$color-grey: #f3f5f6;
$color-dark-grey: #929292;
$color-blue: #3683F7;

/* breakpoints */
$viewport-xs: 375px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$container: 1139px;
